@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

:root {
 --strong-cyan: hsl(171, 66%, 44%);
 --right-blue: hsl(233, 100%, 69%);
 --dark-grayish-blue: hsl(210, 10%, 33%);
 --grayish-blue: hsl(201, 11%, 66%);

}

body {
  color: var(--dark-grayish-blue);
  font-family: 'Bai Jamjuree', sans-serif;
  margin: 0;
  text-align: center;
}

header {
  background-image: url(./images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 40px;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.5;
  color: var(--grayish-blue);
}

.container {
  padding: 0 20px;
  margin: 40px auto;
  max-width: 100%;
  width: 1200px;
}

.container-small {
  width: 500px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.section .one {
  width: 700px;
}

.flex > * {
  flex: 1;
  padding: 10px;
}

.btn {
  border: none;
  border-radius: 50px;
  color: white;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 600;
  padding: 15px 35px;
  margin: 15px 5px;
} 
.btn-primary {
  background-color: var(--strong-cyan);
  box-shadow: 0 3px 5px hsl(171, 67%, 34%);
} 

.btn-secondary {
  background-color: var(--right-blue);
  box-shadow: 0 3px 5px hsl(232, 46%, 34%);
}

footer {
  background-color: hsl(0, 8%, 91%);
}

footer img {
  width: 40px;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

footer .container {
  margin-bottom: 0;
}

footer ul a {
  color: var(--dark-grayish-blue);
  text-decoration: none;
}

footer .links {
  flex: 3;
} 

footer .links li {
  margin-right: 30px;
  padding: 5px;
}

footer .social li {
  margin-right: 10px;
  width: 20px;
}

footer .social a {
  font-size: 24px;
  margin: 0 5px;
}



@media (max-width: 768px) {
  .flex {
    flex-direction: column;
  }

  footer .links {
    flex-direction: column;
  }
  footer .links li {
    padding: 10px;
    margin-right: 0;

}